/* * {
  background: #D8ECFF;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata';
}

.container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head1 {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 23px;
  text-decoration-line: underline;
  color: #000000;
}

.form-control {
  background: #ADE1FE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 214px;
  height: 42px;
  padding: 20px;
}

.formTable {
  margin-top: 20px;
  padding: 10px;
}

.nextBtn {
  background: linear-gradient(180deg, rgba(40, 191, 239, 0.35) 0%, #0E74AD 74.27%);
  opacity: 0.5;
  box-shadow: 0px 4px 4px rgba  (0, 0, 0, 0.25);
  width: 110px;
  height: 46px;
  color: #000000 !important;
  text-align: center;
}

.resetBtn {
  opacity: 0.5;
  box-shadow: 0px 4px 4px rgba  (0, 0, 0, 0.25);
  width: 110px;
  height: 46px;
  color: #000000 !important;
  text-align: center;
} */
